{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XTREMEBootcamp | WE ARE NOT A LABOUR CAMP PLEASE CONTACT OUR LAWYERS</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="nav__brand">
                <h1><strike>Labour</strike> XTREMEBootcamp <small class="tooltip-biden" style="font-size: 5px;">FUCK BIDEN</small> <span id="maga2020" style="background-image: url(https://i.pinimg.com/474x/c9/b2/38/c9b238d1cc978ed748c7856ed2cbf442.jpg); background-size: 200px 100px;">MAGA! TRUMP 2020! <video style="position: absolute; z-index: 5; top: 70px; left: 50%; width: 500px; height: auto; display: none;" loop src="https://video.twimg.com/amplify_video/1323298431088107520/vid/1280x720/ko9kWFOoAhotnGb5.mp4?tag=13"></video> </span> </h1>
                <!-- <small><em>The final solution</em></small> -->
            </div>
            <div class="nav__links">
                <ul>
                    <span><a href="#">Our Mission</a></span>
                    <button class="book-btn book-btn--normal">Book Trip</button>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    let video = document.getElementsByTagName('video')[0];
    let maga = document.getElementById('maga2020');

    maga.addEventListener('mouseover', () => {
        video.style.display = "inline-block";
        video.play();
        document.body.addEventListener('keydown', (e) => {
            if (e.keyCode == 70) {
                video.requestFullscreen()
            }
        })
    });

    maga.addEventListener('mouseout', () => {
        video.style.display = "none";
        video.pause();
    });

</script>

{% block content %} {% endblock %}
</body>
</html>