{% include 'core/base.html' %}
{% load static %}
{% block content %}

<div class="hero">
    <!-- <img class="hero-img" src="https://thumbs.dreamstime.com/b/migrant-labour-kolkata-17372430.jpg" alt="Migrant does some hard work what a good migrant" title="Migrant does some hard work what a good migrant"> -->
    <video class="hero-img" autoplay style="width: 100%; top: 0; left: 0; right: 0;" muted src="https://video.twimg.com/amplify_video/1323298431088107520/vid/1280x720/ko9kWFOoAhotnGb5.mp4?tag=13"></video>
    <div class="hero-text">
        <h1 class="hero-heading">Trip of a lifetime!</h1>
        <p><strike>Labour</strike> If you want to go to bootcamp, it should be a crime to overlook <span style="font-weight: bolder;">XTREMEBootcamp</span></p>
        <div class="hero-btn">
            <input type="date">
            <button class="book-btn book-btn--normal">Book Trip</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="cost">
        <img src="" alt="">
        <div class="cost-flex-item">
            <div class="cost-flex-text">
                <h2>A gruling experience for only the <span class="toughest"><img class="image-slash" src="{% static 'images/slash.svg' %}" alt="">toughest</span></h2>
                
                <p class="flex-para">A once in a life time opportunity <em>(literally!)</em> Participate in hard labour, physically aching activities <span style="font-size: 5px; opacity: 0.3; transform: scale(0.5);">that you sign up for and agree to in our terms and conditions</span> and push yourself to your body's limits.</p>
                <ul class="options-list">
                    <li>Just legal accomodation</li>
                    <li>16 hours of labour per day</li>
                    <li>Barely adequate food</li>
                    <li>Just enough health insurance!</li>
                </ul>
                <div class="pricing-flex">
                    <span class="heading">Starting from</span>
                    <div class="pricing-flex__book">
                        <h2 class="cost-price">$3200 <span class="time-amount">1 Week</span></h2>
                        <button style="margin-top: 8px;" class="book-btn book-btn--invert"><a href="{% url 'core:buy' %}">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="cost-flex-img">
                <figure>
                    <img draggable="false" class="hero-img" src="https://thumbs.dreamstime.com/b/migrant-labour-kolkata-17372430.jpg" alt="Migrant does some hard work what a good migrant" title="Migrant does some hard work what a good migrant">
                    <figcaption class="fig-caption">Experience true hard work in our one week program</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 4rem;">
    <div class="testimonials">
        <div class="testimonials__text">
            <h1>Testimonials</h1>
            <div class="test-cont">
                <div class="testimonial">
                    <div class="testimonial__img">
                        <img src="https://i2.cdn.turner.com/money/dam/assets/151008102414-trump-hat-2-640x360.jpg" style="width: 120px; height: 120px;" alt="migrant">
                    </div>
                    <div class="testimonial__text">
                        <h3 style="width: 100%;">Donald Trump</h3>
                        <p>Absolutely terrific! Amazing people! Would recommend! The FAKE NEWS MEDIA won't report on how tremendously good this is! 5 STARS!</p>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial__img">
                        <img src="https://www.rollingstone.com/wp-content/uploads/2019/08/bill-clinton-painting.jpg" style="width: 120px; height: 120px;" alt="migrant">
                    </div>
                    <div class="testimonial__text">
                        <h3 style="width: 100%;">Bill Clinton</h3>
                        <p>The kids were pretty nice. Sucks Jeff wasn't there, he would've had a blast! Wait shit this is being recorded? Fuck. I <em>did not</em> have sexual relations with <strike>that woman</strike> those children</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 4rem">
    <div class="state">
        <div class="state__text">
            <h1>State of the art equipment</h1>
            <p>Experience only the best picks and shovels when you come to XTREMEBootcamp</p>
            <div class="features">
                <h2>What you can expect from XTREMEBootcamp</h2>
            </div>
            <div style="margin-top: 20px;" class="features__cont">
                <div class="features-box">
                    <h3>Nice tools</h3>
                    <p>Only the best tools available</p>
                </div>
                <div class="features-box">
                    <h3>Some nice healthcare!</h3>
                    <p>It's better than America's at least!</p>
                </div>
                <div class="features-box">
                    <h3><small style="opacity: 0.4; font-size: 5px;">Slightly</small> Edible meals!</h3>
                    <p>It'll be a nice ol' labour camp experience</p>
                </div>
                <div class="features-box">
                    <h3>Lots of labour!</h3>
                    <p>All labour is <em>definitely</em> voluntary</p>
                </div>
                <div class="features-box">
                    <h3>Cool accomodation</h3>
                    <p>Who doesn't love a squeaky piss bed?</p>
                </div>
                <div class="features-box">
                    <h3>Amazing name tags!</h3>
                    <p>Transform into Camper 3921 for a week!</p>
                </div>
            </div>
        </div>
        <div style="margin-top: 3rem" class="state__text">
            <h1>So what are you waiting for?</h1>
            <div class="hero-btn">
                <input class="light-bg-input" style="box-shadow: 0 0 0 3px #233023; color: #233023;" type="date">
                <button class="book-btn book-btn--invert"><a href="{% url 'core:buy' %}">Book Trip</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}