* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Epilogue', sans-serif; vertical-align: middle;}


.container {
    width:1100px;
    margin: 0 auto;
}

body {
    line-height: 35px;
}

.header {
    width: 100%;
    background: #ff6868;
    .nav {
        vertical-align: middle;
        align-items: center;
        padding: 20px 0;
        background: #ff6868;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__brand {
            // vertical-align: middle;
            color: white;
            strike {
                opacity: 0.6;
            }
        }
        &__links {
            flex-grow: 1;
            ul {
                align-items: center;
                vertical-align: middle;
                display: flex;
                justify-content: flex-end;
                span {
                    list-style: none;
                    &:nth-child(1) {
                        padding: 0 40px 0 0;
                    }
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.book-btn {
    --box-shad: 0 0 0 3px white;
    --col: white;
    padding: 10px 15px;
    box-shadow: var(--box-shad);
    background: none;
    border: none; outline: none;
    color: var(--col);
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 275ms ease-in-out;
    &--normal {
        --col: white;
        --box-shad: 0 0 0 3px white;
        &:hover {
            --col: #ff6868 !important;
            background: white !important;
        }
    }
    &--invert {
        --col: #ff6868;
        --box-shad: 0 0 0 3px #ff6868 !important;
        &:hover {
            --col: white !important;
            background: #ff6868 !important;
        }
    }
}

.tooltip-biden {
    position: relative;
    &:hover {
        &::after {
            z-index: 5;
            padding: 5px;
            background: #c9c9c9a1;
            position: absolute;
            font-size: 20px;
            top: 20px;
            left: 0;
            content: "FUCK BIDEN";
        }
    }
}

a {
    text-decoration: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    // color: red;
}
.light-bg-input {
    
::-webkit-calendar-picker-indicator {
    filter: invert(0) !important;
    // color: red;
}
}

.hero {
    position: relative;
    padding: 8rem 0;
    height: 100vh;
    margin: 0 auto;
    .hero-text {
        position: relative;
        color: white !important;
        z-index: 3;
    }
    .hero-heading {
        font-size: 4rem;
        // color: #ff6868;
        text-align: center;
    }
    p {
        padding-top: 15px;
        text-align: center;
        // color: #272727;
        font-size: 1.5rem;
        width: 450px; 
        margin: 0 auto;
    }
    .hero-img {
        filter: brightness(50%);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
}

.fig-caption {
    font-size: 14px;
    padding-top: 8px;
    font-style: italic;
    opacity: 0.7;
}

.hero-btn {
    margin: 2rem auto;
    text-align: center;
    input {
        padding: 7px 15px;
        box-shadow: 0 0 0 3px white;
        background: none;
        border: none; outline: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 1rem;
        color: white;
        background: rgba(255, 255, 255, 0.342);
        &::placeholder {
            color: rgba(0, 0, 0, 0.404);
            color: white;
        }
    }
    button {
        border-radius: unset !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
}


.cost {
    padding-top: 4rem;
    height: auto;
    padding-bottom: 40px;
    .cost-flex-item {
        display: flex;
        justify-content: space-between;
        .pricing-flex {
            &__book {
                padding-top: 8px;
            }
            padding-top: 20px;
            .heading {  
                font-size: 14px;
            }
            .cost-price {
                font-size: 1.5rem;
                span {
                    font-size: 16px;
                    opacity: 0.6;
                }
            }
        }
        .cost-flex-text {
            .options-list {
                margin-top: 10px;
                li {
                    margin-left: 35px;
                    line-height: 28px;
                }
            }
            .toughest {
                position: relative;
                z-index: 5;
                .image-slash {
                    position: absolute;
                    user-select: none;
                    z-index: -1;
                    top: 10px;
                    opacity: 0.5;
                    left: -11px;
                    transform: scaleY(0.75) scaleX(0.92);
                }
            }
            
            h2 {
                font-size: 2.2rem;
                line-height: 40px;
            }
            .flex-para {
                margin-top: 15px;
            }
            width: 350px;
    
        }
        .cost-flex-img {
            img {
                width: 600px;
                height: auto;
            }
        }
    }
}

.state {
    height: 100vh;
    &__text {
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
        p {
            padding-top: 10px;
            font-size: 20px;
        }
        .features {
            &__cont {
                display: grid;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
                gap: 20px;
                .features-box {
                    padding: 5px;
                    cursor: pointer;
                    transition: 250ms ease-in-out;
                    &:hover {
                        // background: #ececec;
                        box-shadow: 0 4px 6px #c9c9c9a1,
                                    0 -2px 3px #c9c9c9a1;
                        transform: translateY(-5px);
                    }
                    box-shadow: 0 0 5px 0 #c9c9c9a1;
                    h3 {

                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
            position: relative;
            h2 {
                font-weight: normal;
                margin-top: 20px;
                &::before, &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    background: black;
                    width: 20%;
                    top: 50%;
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
        }
    }
}